{% extends 'main/base.html' %}

{% block container %}
<div class="fieldsetstyle-cssave">
  <form action="" method="post" class="findform" id="simple_request">
    {% csrf_token %}
    <fieldset>
      <legend align="center">Значения для поиска</legend>
        {% for field in form %}
            <div class="form-row">
                {{field}}
            </div>
        {% endfor %}
      <button type="button" id="simple_btn" onclick="finding_data()">Найти информацию</button>
    </fieldset>
  </form>
  <form class="rezultform">
      <fieldset>
        <legend>Результаты поиска</legend>
          <div id="result_form">
            <label id="inform_label">Введите значения для поиска и нажмите кнопку «Найти информацию»</label>
          </div>
      </fieldset>
  </form>
</div>
{% block javascript %}
<script>
    var list_element = [];

    function open_document(path) {
        console.log(path);
        console.log(list_element[path]);
        $.ajax({
                url: "{% url 'open_doc' %}", //url страницы
                data: {'file': list_element[path]},  // Сериализуем объект
                type: "GET", //метод отправки
                success: function(response) { //Данные отправлены успешно
                    console.log('success');
                    }
                })
    };

    function finding_data() {
        var myForm = $('#simple_request').serializeArray();
        var out = false;
        var dict_name = {'gk': 'гос. контракт', 'project': 'проект', 'order': 'заказ', 'complect': 'комплект',
         'sn': 'серийный номер', 'name': 'модель', 'manufactur': 'изготовитель', 'secretnum': 'секретный номер',
          'mark': 'марка'};
        for (key in myForm) { //проходим циклом по массиву объектов
            if (myForm[key].value && myForm[key].name != 'csrfmiddlewaretoken') {
                out = true;
                break;
            }
        }
        if (out) {
             $.ajax({
                url: "{% url 'finding' %}", //url страницы (finding)
                data: $('#simple_request').serializeArray(),  // Сериализуем объект
                type: "POST", //метод отправки
                success: function(response) { //Данные отправлены успешно
                    $("#result_form").html("");
                    var answer = $.parseJSON(response);
                    if ('errors' in answer) {
                        $('#result_form').append(answer['errors']);
                        }
                    else {
                        var name_req = '';
                        var number_element = 0;
                        for (name_val in answer) {
                            for (key in myForm) { //проходим циклом по массиву объектов
                                if (myForm[key].value == name_val) {
                                    name_req = dict_name[myForm[key].name];
                                    break;
                                    }
                                }
                            $('#result_form').append('Результаты поиска для ' + name_req + ' ' + name_val + ':');
                            var output = '<table border="1" align="center">';
                            const data = Object.entries(answer[name_val]);
                            var name_doc = ['Сопровод', 'Заключение', 'Протокол', 'Предписание']
                            data.forEach(([key, value], index) => {
                                var header_table = '';
                                var var_table = '';
                                for (key_val in value) {
                                    header_table += '<th>' + key_val + '</th>';
                                    list_element[number_element] = value[key_val];
                                    if (name_doc.includes(key_val)) {
                                        console.log(value[key_val]);
                                        if (value[key_val]) {
                                            var_table += `<td><button type="button" onclick="open_document(${number_element})">${key_val}</button></td>`;
                                        }
                                        else {
                                            var_table += `<td>Нет документа</td>`;
                                        }
                                    }
                                    else {
                                        var_table += '<td>' + value[key_val] + '</td>';
                                    }
                                    number_element += 1;
                                    }
                                if (index == 0) {
                                    output += '<tr><th>№</th>' + header_table + '</tr>';
                                    }
                                output += '<tr><td>' + (index + 1) + '</td>' + var_table + '</tr>';
                                })
                            output += '</table>';
                            $('#result_form').append(output);
                        }
<!--                        var transform = {"tag":"table", "align":"center", "border":"outset", "children":[-->
<!--                                {"tag":"tr","children":[-->
<!--                                    {"tag":"th","html":'Гос. контракт'},-->
<!--                                    {"tag":"th","html":'Дата'},-->
<!--                                    {"tag":"th","html":'Департамент'}-->
<!--                                ]},-->
<!--                                {"tag":"tr","children":[-->
<!--                                    {"tag":"td","html":"${gk_fld}"},-->
<!--                                    {"tag":"td","html":"${date_fld}"},-->
<!--                                    {"tag":"td","html":"${department_fld}"}-->
<!--                                ]}-->
<!--                        ]};-->
<!--                        console.log(typeof($.parseHTML(json2html.transform(answer[name_val],transform))));-->
<!--                        $('#result_form').append($.parseHTML(json2html.transform(answer[name_val],transform)));-->
                    }
                },
                error: function(response) { // Данные не отправлены
                    $('#result_form').replaceWith($.parseJSON(response));
                    console.log('----------------------ALARM!--------------------------');
                }
            });
            }
        else
            alert('Заполните хотя бы один параметр для поиска!');
        }
</script>
{% endblock %}
{% endblock %}