<!-- Модальное окно -->
<div class="modal fade" id="modal_window" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin-right: 0 !important;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Создать заметку</h5>
      </div>
      <div class="modal-body">
        <form action="" method="post" id="notes_form">
            {% csrf_token %}
                <fieldset>
                {% for note_ in note %}
                    <div class="mt-3">
                    {{ note_.label_tag }}
                    {{note_}}
                    {{ note_.errors }}
                    </div>
                {% endfor %}
                </fieldset>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-light me-2" id="add_note_btn">Сохранить</button>
        <button type="button" class="btn btn-outline-light me-2" id="close_btn" onclick="$('#modal_window').hide();">Закрыть</button>
      </div>
    </div>
  </div>
</div>
<!-- /Модальное окно -->
<script>
    function display_form_errors(errors, form) {
        for (var k in errors) {
            console.log(k);
            console.log(errors[k]);
            form.find('input[name=' + k + ']').after('<div class="error">' + errors[k] + '</div>');
        }
    }

    $("#add_note_btn").on("click", function(){
        $.ajax({
                url: "{% url 'notes' %}", //url страницы
                data: $('#notes_form').serializeArray(),  // Сериализуем объект
                type: "POST", //метод отправки
                success: function(response) { //Данные отправлены успешно
                    $('#modal_window').find('.error').remove();
                    var answer = $.parseJSON(response);
                    if ('errors' in answer) {
                        display_form_errors(answer['errors'], $('#modal_window'));
                        }
                    },
                error: function(response) { // Данные не отправлены
                    console.log('ALARM!');
                    }
                })
    })
</script>