<!-- Модальное окно -->
<div class="modal-header">
    <h5 class="modal-title">Создать заметку</h5>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <form action="" method="POST" id="notes_form" class="g-3 needs-validation container-fluid">
            {% csrf_token %}
            <div class="row border">
                <div class="col mx-2 my-2">
                    {{ note.question_number_fld }}
                </div>
<!--                <div class="valid-tooltip">Все хорошо!</div>-->
<!--                <div class="invalid-tooltip">Всё плохо!</div>-->
                <div class="invalid-feedback">{{ note.question_number_fld.errors }}</div>
                <div class="col mx-2 my-2">
                    {{ note.date_fld }}
                </div>
                <div class="invalid-feedback">{{ note.date_fld.errors }}</div>
                <div class="col mx-2 my-2">
                    {{ note.name_fld }}
                </div>
                <div class="invalid-feedback">{{ note.name_fld.errors }}</div>
                <div class="col mx-2 my-2">
                    {{ note.organization_fld }}
                </div>
                <div class="invalid-feedback">{{ note.organization_fld.errors }}</div>
                <div class="col mx-2 my-2">
                    {{ note.telephone_fld }}
                </div>
                <div class="invalid-feedback">{{ note.telephone_fld.errors }}</div>
            </div>
            <div class="row border">
                <div class="col mx-2 my-2">
                    {{ note.question_fld }}
                </div>
                <div class="invalid-feedback">{{ note.question_fld.errors }}</div>
                <div class="col mx-2 my-2">
                    {{ note.add_notes_fld }}
                </div>
                <div class="invalid-feedback">{{ note.add_notes_fld.errors }}</div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <button type="submit" form="notes_form" class="mb-2 btn btn-lg rounded-4 text-white mt-3" style="background-color: #134361;" id="add_note_btn" onclick="send_notes()">Сохранить</button>
    <button type="submit" class="mb-2 btn btn-lg rounded-4 text-white mt-3" style="background-color: #134361;" id="close_btn" data-bs-dismiss="modal">Закрыть</button>
</div>
<!-- /Модальное окно -->
