<!-- Модальное окно -->
<form action="" method="post" id="notes_form">
{% csrf_token %}
<fieldset>
    <div class="container-fluid d-grid gap-3 align-items-center">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start mt-3 d-grid gap-3">
            <div class="text-end d-flex flex-wrap">
        {{ note.question_number_fld}}
        {{ note.question_number_fld.errors }}
            </div>
            <div class="text-end d-flex flex-wrap">
        {{ note.date_fld}}
        {{ note.date_fld.errors }}
            </div>
            <div class="text-end d-flex flex-wrap">
        {{ note.name_fld}}
        {{ note.name_fld.errors }}
            </div>
            <div class="text-end d-flex flex-wrap">
        {{ note.organization_fld}}
        {{ note.organization_fld.errors }}
            </div>
            <div class="text-end d-flex flex-wrap">
        {{ note.telephone_fld}}
        {{ note.telephone_fld.errors }}
            </div>
        </div>
    </div>
    <div class="container-fluid d-grid gap-3 align-items-center">
        <div class="d-flex flex-wrap d-grid gap-3 align-items-center justify-content-center">
            <div class="text-end d-flex flex-wrap0" style="flex: 1;">
        {{ note.question_fld}}
        {{ note.question_fld.errors }}
            </div>
            <div class="text-end d-flex flex-wrap" style="flex: 1;">
        {{ note.add_notes_fld}}
        {{ note.add_notes_fld.errors }}
            </div>
        </div>
    </div>
</fieldset>
</form>
<!-- /Модальное окно -->
